.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.titleRight {
  display: flex;
  color: #282828;
  align-items: center;
}

.titleRight p {
  margin-right: 10px;
  font-size: 1.2rem;
}

.titleLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.titleLeft button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px 10px;
  color: #fff;
  font-size: 1rem;
  transition: all 0.2s ease-in;
}

.titleLeft .addButton {
  border: 1px solid #55a3f0;
  background-color: #55a3f0;
}

.titleLeft .addButton:hover {
  color: #55a3f0;
  background-color: #fff;
}

.titleLeft .deleteButton {
  background-color: red;
  border: 1px solid red;
  transition: all 0.1s ease-in;
}

.titleLeft .deleteButton:hover {
  background-color: #fff;
  color: red;
}

.titleLeft .deleteCounter {
  background-color: red;
  color: #fff;
  border: 1px solid red;
  transition: all 0.2s ease-in;
}

.titleLeft .deleteCounter:hover {
  background-color: #fff;
  color: red;
}

.titleLeft .quit {
  background-color: #9b9b9b;
  border: 1px solid #9b9b9b;
}

.titleLeft .quit:hover {
  color: #9b9b9b;
  background-color: #fff;
}

.titleLeft .priceBaseButton {
  background-color: #e9a318;
  border: 1px solid #e9a318;
  margin-left: 100px;
}

.titleLeft .priceBaseButton:hover {
  color: #e9a318;
  background-color: #fff;
}
