.form {
  display: flex;
  margin-left: 100px;
}

.form .inputs {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.form .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form .buttons button:first-child {
  border: 1px solid #76de42;
  background-color: #76de42;
  padding: 5px 10px;
  margin-bottom: 15px;
}

.form .buttons button:first-child:hover {
  color: #76de42;
  background-color: #fff;
}

.form .buttons button:last-child {
  border: 1px solid #dfdfdf;
  background-color: #dfdfdf;
  padding: 5px 10px;
  color: #282828cc;
  margin-bottom: 15px;
}

.form .buttons button:last-child:hover {
  background-color: #bababa;
}
