.container {
  margin: 50px auto 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "vazirmatn";
  width: 100%;
  padding: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.titleRight {
  display: flex;
  color: #282828;
  align-items: center;
}

.titleRight p {
  margin-right: 10px;
  font-size: 1.2rem;
}

.titleLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.titleLeft button {
  border: 1px solid #55a3f0;
  border-radius: 10px;
  background-color: #55a3f0;
  cursor: pointer;
  padding: 8px 10px;
  color: #fff;
  font-size: 1rem;
  transition: all 0.2s ease-in;
}

.titleLeft button:hover {
  color: #55a3f0;
  background-color: #fff;
}

.titleLeft button:first-child {
  background-color: red;
  border: 1px solid red;
}

.titleLeft button:first-child:hover {
  background-color: #fff;
  color: red;
}
